.container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  min-height: 100vh;
  padding: 40px;
  gap: 25px;
  background: #212121;
  border-radius: 12px;
}

.board {
  display: flex;
  flex-direction: column;
  border: 1px solid #f1f1f1;
  width: 100%;
  background: #141414;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

.sidebar {
  width: 33%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
}

.row {
  display: flex;
  gap: 10px;
}

.title {
  color: #f1f1f1;
}

.game_footer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: start;
  width: 100%;
  margin-top: 5px;
}

.cell {
  width: 100px;
  height: 100px;
  margin: 6px;
  border-radius: 50%;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.cell:hover {
  background-color: #d2ea42;
}

.hoverCell {
  background-color: #d2ea42;
}

.disc {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.redDisc {
  background: url('./assets/red.png');
  background-size: cover;
}

.yellowDisc {
  background: url('./assets/yellow.png');
  background-size: cover;
}

.resetButton {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.resetButton:hover {
  background-color: #005bb5;
}

.currentPlayer {
  margin-top: 10px;
  color: #000000;
  font-size: 18px;
}

.winnerMessage {
  color: green;
  font-size: 28px;
  animation: winner-animation 1s ease-in-out infinite alternate;
}

@keyframes winner-animation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

/* Media Queries for Mobile View */
@media (max-width: 768px) {
  .cell {
    width: 50px;
    height: 50px;
    margin: 1px;
  }

  .resetButton {
    padding: 8px 16px;
    font-size: 14px;
  }

  .winnerMessage {
    font-size: 22px;
  }
}
